* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: hsl(226, 43%, 10%);
	font-family: 'DM Sans', sans-serif;
}

.card-container {
    display: flex;
    width: 65rem;
    height: 35rem;
    background-color: wheat;
}

.card-left {
    width: 25%;
    
}

.card-left_top {
    background-color:  hsl(235, 45%, 61%);
}

.card-right {
    width: 75%;
}



footer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}