* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: hsl(226, 43%, 10%);
	font-family: 'Rubik', sans-serif;
}

.card-container {
	display: flex;
	width: 65rem;
	height: 32rem;
}

.card-left {
	width: 25%;
	border-radius: 1rem;
	overflow: hidden;
	background-color: hsl(235, 46%, 20%);
}

.card-left_top {
	height: 70%;
	padding: 2rem;
	background-color: hsl(246, 80%, 60%);
	border-radius: 1rem;
}

.photo-avatar {
	height: 4rem;
	width: 4rem;
	margin-bottom: 4rem;
	border: 2px solid white;
	border-radius: 50%;
}

.report {
	color: rgba(255, 255, 255, 0.436);
	font-size: 14px;
	font-weight: 300;
}

.name-surname {
	color: white;
	font-size: 2rem;
	font-weight: 300;
}

.card-left_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
	height: 30%;
    color: rgba(255, 255, 255, 0.436);
}
.weekly {
    color: white;
}

.card-right {
    display: flex;
    flex-wrap: wrap;
	width: 75%;
}

.card-right_conatiner {
    width: 12rem;
    height: 12rem;
    background-color: wheat;
}

footer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
